@import url('https://fonts.googleapis.com/css2?family=Sarala&family=Sen:wght@700&display=swap');

$main-container: 50%;
$center: 0 auto;
$fondo-body: #3477DB;
$fondo-main: #b2e2f2;
$fondo-div: #3477DB;
$full: 100%;
$logos: 2em;

@font-face {
    font-family: OpenDyslexic-Regular;
    src: url("font/OpenDyslexic-Regular.otf") format("opentype");
  }
body{
    background-color: $fondo-body;    
}

header{
    h3{
        font-family: 'Sen';
        text-align: center;
    }
    div{
            background-color: $fondo-main;
            width: $logos;
            width: $logos;
            margin-left: 2em;
            svg{
                width: $logos;
                height: $logos;
                float: left;
            }
            
        p{                            
            font-family: 'Sarala';
        }   

        width: 80%;
    }       
    width: $main-container;
    background-color:$fondo-main;
    margin: $center;
    padding: 1em;
}

div{
    width: $full;
    height: 2em;
    background-color: $fondo-div;
}
main{
    h4{
        font-family: 'Sen';
        background-color:white;
        width: 100%;
    }
    h5{
        font-family: 'Sen';
        font-size: large;
    }
    article{
        font-family: 'Sarala';
        margin-left: 2em;

    }
    width: $main-container;
    margin: $center;
    background-color:$fondo-main;
    height: $full;
    padding: 1em;
}
.dislexicos{
    width: $main-container;
    margin: $center;
    height: $full;
}